<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Polindrom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1AFFB8B01CF9164F00F908BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AFFB8C71CF9164F00F908BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AFFB8D21CF9164F00F908BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
